html{
    font-size: 22px;
}
body{
    background-color: black;
    color:whitesmoke;
    font-family:gabriola ;
}
@font-face{font-family:strike;src: url('fonts/StrickenBrush.ttf');}
@font-face{font-family:buttervill;src: url('fonts/Buttervill.ttf');} 
@font-face{font-family:gabriola;src: url('fonts/Gabriola.ttf');}
@font-face {font-family:delacorso;src: url('fonts/Delacorso.otf');}
#di{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    background-blend-mode: multiply;
    
}
#bt{
    background:url(IMG_20221213_103923.jpg), radial-gradient(rgb(255, 255, 255),rgb(0, 0, 0));
    background-blend-mode: multiply; 
}
nav{
    margin: 25px;
    background-color:none;
    background-blend-mode: multiply;
        list-style: none;
        display:flex;  
    }
    #menu{
        background: none;
        list-style: none;
        display:flex;
    
    }
li{
    background-color: none;
    background-blend-mode: multiply;
    margin: 30px;
}
a{
    color: yellow;
}
a:visited{
    color:blue;
}
#head{
    background-color:rgb(0, 0, 0);
    color: rgb(255, 251, 0);
    font-family:buttervill ;
    text-align: center;
}
#head:hover{
    background-color:rgba(0, 4, 255, 0.884);
}
#welc{
    font-family: delacorso;
    font-size: 60px;
    text-align: center;
}
#h2{
   font-size: 65px;
   color:yellow;
   background-color: rgba(0, 4, 255, 0.884);
   text-align: center;
   font-family:strike;
}
#about{
    text-align:left;
    font-size: 50px;
    color: yellow;
    font-family:strike;
    padding-left:5% ;
}
#conBan{
    text-align: center;
    font-size: 60px;
    font-family: delacorso;
}
#project{
    padding-top: 20%;
    text-align: center;
    font-size: 35px;
}
.pro{
    position: relative;
    top:-150px;
    
}
hr{
    color: rgba(0, 38, 255, 0.863);
}
#copy{
    text-align: center;
    background-position-y: bottom;
    color: yellow;
}
#back{

background:radial-gradient(rgb(255, 255, 255),rgb(0, 0, 0));  
}
@media  (max-width: 1000px){
    #about{
        font-size: 35px;
    }
    #h2{
        font-size: 40px;
    }
    .pimg{
        max-width: 300px; 
        max-height: 330px;
    }
    #head{
        font-size:35px ;
    }
    #bt{
        width: 100%;
        height:auto;
    }
    #welc{
        font-size: 40px;
    }
}
@media (min-width:1000px){
    #about{
        font-size: 48px;
    } 
    #h2{
        font-size: 65px;
    }  
    .pimg{
        max-width: 80%;
        max-height: 80%;
    }
    #bt{
        max-width: 100%;
        max-height: auto;
    }
    #head{
        font-size: 60px;
    }
    #welc{
        font-size: 80px;
    }
}
.pimg{
    float: right;
    width: 400px;
}
#contact{
    padding-top: 3%;
    padding-left: 5%;
    font-family:gabrolia;
}