*{margin: 0%;
padding: 0%;}
@font-face{font-family:strike;src: url('fonts/StrickenBrush.ttf');}
@font-face{font-family:buttervill;src: url('fonts/Buttervill.ttf');} 
@font-face{font-family:gabriola;src: url('fonts/Gabriola.ttf');}
@font-face {font-family:delacorso;src: url('fonts/Delacorso.otf');}
html{
   
    font-size: 22px;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color:whitesmoke;
    font-family:gabriola ;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(IMG_20221213_103923s.jpg)no-repeat;
    background-size: cover;
    background-position: 50%;
}
header{
    position: relative;
    top: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    position: relative;
    font-family:delacorso;
    color: yellow;
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 3px;
}
#nav a{
    position: relative;
    color: yellow;
    letter-spacing: 1px;
    padding: 2px 15px;
    text-decoration: none;
    border-radius: 20px;
    transition: .5s;
    transition-property:all;
}
#nav a:hover{
    background-color: rgb(0, 0, 0);
}
.cont{
    max-width:70%;
    font-family: delacorso;
}
#welc{
    letter-spacing: 2px;
    margin-bottom: 30px;
    font-family: delacorso;
    text-align: center;
    padding-top: 20%;
}
a{
    color: yellow;
}
#head{
    background-color:rgb(0, 0, 0);
    color: rgb(255, 251, 0);
    font-family:buttervill ;
    text-align: center;
}
#head:hover{
    background-color:rgba(0, 4, 255, 0.884);
}

#h2{
   font-size: 65px;
   color:yellow;
   background-color: rgba(0, 4, 255, 0.884);
   text-align: center;
   font-family:strike;
}
#about{
    text-align:center;
    font-size: 50px;
    color: yellow;
    font-family:strike;
    padding-left:5% ;
    margin-bottom:3cm;
}
#conBan{
    text-align: center;
    font-size: 60px;
    font-family: delacorso;
}
#project{
    padding-top: 20%;
    text-align: center;
    font-size: 35px;
}
.pro{
    position: relative;
    top:-85px;
    
}
hr{
    color: rgba(0, 38, 255, 0.863);
}
#copy{
    color: yellow;
    text-align: center;
}
@media  (max-height: 500px){
    .pimg{
        float: right;
        width: 400px;
        max-width: 80%;
        max-height: 80%;
    }
}
@media  (max-width: 500px){
    #about{
        text-align:left;
        font-size: 25px;
    }
    #h2{
        font-size: 30px;
    }
    .pimg{
        padding-left: 25%;
        max-width: 200px; 
        max-height: 230px;
    }
    #head{
        font-size:23px ;
    }
    #welc{
        font-size: 30px;
    }
    #hw{
        padding-top: 30%;
    }
    #bt{
        background-size: cover;
        height: 100vh;
    }
}
@media (min-width:1000px){
    #about{
        font-size: 65px;
        padding-bottom: 10%;
    } 
    #h2{
        font-size: 65px;
    }  
    .pimg{
        float: right;
        width: 400px;
        max-width: 80%;
        max-height: 80%;
    }
    #head{
        font-size: 60px;
    }
    #welc{
        font-size: 80px;
        text-align: center;
       
    }
}
#contact{
    padding-top: 3%;
    padding-left: 5%;
    font-family:gabrolia;
}