html{
    font-size: 22px;
}
body{
    background-color: black;
    color:whitesmoke;
    font-family:gabriola ;
}
@font-face{font-family:strike;src: url('fonts/StrickenBrush.ttf');}
@font-face{font-family:buttervill;src: url('fonts/Buttervill.ttf');} 
@font-face{font-family:gabriola;src: url('fonts/Gabriola.ttf');}
@font-face {font-family:new;src: url('fonts/Delacorso.otf');}
#di{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    background-blend-mode: multiply;
    
}
#bt{
    background:url(IMG_20221213_103923.jpg), radial-gradient(rgb(255, 255, 255),rgb(0, 0, 0));
    background-size:cover;
    background-blend-mode: multiply; 
}
nav{
    margin: 25px;
    background-color:none;
    background-blend-mode: multiply;
        list-style: none;
        display:flex;  
    }
    #menu{
        background: none;
        list-style: none;
        display:flex;
    
    }
li{
    background-color: none;
    background-blend-mode: multiply;
    margin: 30px;
}
a{
    color: yellow;
}
a:visited{
    color:blue;
}
#head{
    background-color:rgb(0, 0, 0);
    color: rgb(255, 251, 0);
    font-family:buttervill ;
    text-align: center;
}
#head:hover{
    background-color:rgba(0, 4, 255, 0.884);
}
#welc{
    font-family: new;
    font-size: 60px;
    text-align: center;
}
#h2{
   font-size: 65px;
   color:yellow;
   background-color: rgba(0, 4, 255, 0.884);
   text-align: center;
   font-family:strike;
}
#about{
    justify-content:left;
    font-size: 50px;
    color: yellow;
    font-family:strike;
}
#conBan{
    text-align: center;
    font-size: 60px;
    font-family: new;
}
#project{
    padding-top: 20%;
    text-align: center;
    font-size: 35px;
}
hr{
    color: rgba(0, 38, 255, 0.863);
}
#copy{
    text-align: center;
    background-position-y: bottom;
    color: yellow;
}
#back{
background:radial-gradient(rgb(255, 255, 255),rgb(0, 0, 0))
}
#imgp{
    float: right;
    clear: left;
}
#contact{
    padding-top: 3%;
    padding-left: 5%;
    font-family:gabrolia;
}
